<!doctype html>
<html lang="en">
<head>
    <base href="/" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>

  <div>
    <h1>Oops!</h1>
    <h2>We can't seem to find the page you're looking for.</h2>
    <h6>Error code: 404</h6>
  </div>

</body>
</html>
